Repository dont-think-about/TripGo, pull requests merged in 2023-11, with the labels that each got.

#115 [REFACTOR] mypage review 목록 분리- 전체 review 목록 분리
  app/src/main/java/com/nbcamp/tripgo/data/repository/ReviewRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/TourDetailRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/FragmentPageType.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/Reviewdata.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewItem.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/BottomSheetAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/ReviewRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/ReviewUiState.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/ReviewViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/ReviewViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/detail/TourDetailActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/detail/TourDetailViewModel.kt
  app/src/main/res/drawable/icon_restore.xml
  app/src/main/res/layout/activity_tour_detail.xml
  app/src/main/res/layout/bottom_sheet_review.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/layout/fragment_review_detail.xml
  app/src/main/res/layout/item_review_bottom_sheet_selector.xml
  app/src/main/res/layout/item_review_main.xml
  app/src/main/res/values/age_string.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/companion_string.xml
  app/src/main/res/values/gender_string.xml
  app/src/main/res/values/si_do_string.xml
Labels: review-page

#117 [FEAT] 검색 지도부분 1차 완료
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/res/layout/activity_search.xml
Labels: search-page

#119 [FEAT] 리뷰 상세 페이지 출력
  app/src/main/java/com/nbcamp/tripgo/data/repository/ReviewDetailRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/ReviewRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/ScheduleListAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/UserStatus.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewFragment.kt
  app/src/main/res/layout/dialog_review_grade.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/layout/fragment_review_detail.xml
  app/src/main/res/values/string_color.xml
  app/src/main/res/values/strings.xml
Labels: review-detail-page

#120 [FEAT] 로그인&회원가입 화면 유효성 검사
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/login/PasswordFindFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/signup/SignUpActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/signup/SignUpViewModel.kt
  app/src/main/res/drawable/background_edit_text_correct.xml
  app/src/main/res/drawable/icon_login_google.png
  app/src/main/res/drawable/icon_login_kakao.png
  app/src/main/res/layout/activity_festival.xml
  app/src/main/res/layout/activity_log_in.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/activity_tour.xml
  app/src/main/res/layout/dialog_password_find.xml
  app/src/main/res/layout/fragment_calendar.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/layout/fragment_review_detail.xml
  app/src/main/res/layout/item_main_festival_card.xml
  app/src/main/res/values/themes.xml
Labels: login-page, sign-up-page

#124 [PACK] firebase crashlytics 의존성 추가
  app/build.gradle
  build.gradle
Labels: documentation

#126 [FEAT]Tour , AttractionsActivity 무한 스크롤 기능
  app/src/main/java/com/nbcamp/tripgo/data/service/TourApiService.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/TourActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourSearchAdapter.kt
  app/src/main/res/values/strings.xml
Labels: festival-page, attraction-page, tour-page

#128 [FIX] 캘린더 프래그먼트 RecyclerView 버그 수정
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/ScheduleListAdapter.kt
  app/src/main/res/layout/item_calendar_schedule_card.xml
  app/src/main/res/values/strings.xml
Labels: calendar-page

#129 [FEAT] MypageFragment , FavoriteFragment, Dialog, ReviewFragment 기능
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MypageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/Favoritedata.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/reviewwriting/MyPageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewFragment.kt
  app/src/main/res/layout/dialog_mypage.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/item_favorite_main.xml
  app/src/main/res/values/colors.xml
Labels: my-page, review-page, liked-page

#130 {FEAT} 여행지 순위 표기
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Body.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Header.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Items.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Response.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/SegmentationItem.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/TravelersSegmentation.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/SearchRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/service/TourApiService.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/res/layout/activity_search.xml
  app/src/main/res/layout/item_search.xml
  app/src/main/res/values/strings.xml
Labels: search-page

#134 [FEAT] 오픈소스 라이센스 추가
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/res/layout/dialog_opensource.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: documentation

#135 [FEAT] 이용약관 추가
  app/src/main/java/com/nbcamp/tripgo/view/signup/RulesFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/signup/SignUpActivity.kt
  app/src/main/res/drawable/icon_next.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/fragment_rules.xml
Labels: sign-up-page

#138 [FIX] 날씨 위치 정보 수정 및 이미지가 없을 때 추가 표시
  app/src/main/java/com/nbcamp/tripgo/data/repository/HomeRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/service/WeatherService.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/FestivalViewPagerAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/NearbyPlaceAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/ProvincePlaceListAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/valuetype/LatXLngY.kt
  app/src/main/res/drawable/icon_no_image.xml
Labels: home-page

#140 [FIX]: 전국 관광지 리스트 텍스트뷰 출력 오류
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/ProvincePlaceListAdapter.kt
Labels: home-page

#142 [FIX] 이슈에 적힌 수정내역 정리
  app/src/main/java/com/nbcamp/tripgo/data/repository/SearchRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModel.kt
  app/src/main/res/layout/fragment_search_festival.xml
  app/src/main/res/values/strings.xml
Labels: search-page

#143 [FIX] TourActivity 거리순 / 날짜순 버그 수정
  app/src/main/java/com/nbcamp/tripgo/data/model/area/AreaItem.kt
  app/src/main/java/com/nbcamp/tripgo/data/service/TourApiService.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/TourActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourSearchAdapter.kt
  app/src/main/res/layout/activity_attractions.xml
  app/src/main/res/layout/activity_tour.xml
Labels: attraction-page, tour-page

#146 [FEAT] Bottom Sheet 변경
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchRepository.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModel.kt
  app/src/main/res/layout/activity_search.xml
Labels: search-page

#144 [FIX] 버그 및 부족한 기능부분 1차 수정
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MypageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/MypageAppInpo.kt
  app/src/main/res/layout/dialog_app_inpo.xml
Labels: login-page, my-page

#153 [FIX] Tour , AttractionsAdapter 이미지 변경
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourSearchAdapter.kt
Labels: attraction-page, tour-page

#154 [FIX] 홈화면 및 리뷰 화면 버그 수정
  app/build.gradle
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/ProvincePlaceListAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewFragment.kt
  app/src/main/res/layout/fragment_review.xml
Labels: home-page, review-page

#157 [FIX] 지도 검색 후 이동 버튼 복구 (110~121 line)
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
Labels: search-page

#158 [FIX] 2차 오류 수정 미비된부분 slack확인
  app/build.gradle
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewFragment.kt
  app/src/main/res/layout/activity_log_in.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/values/strings.xml
Labels: login-page, my-page

#162 [FIX]: 일정이 지났는데도 일정이 없다고 토스트 메세지가 발생하는 현상 수정
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarViewModel.kt
Labels: calendar-page

#164 [FIX] 수정 및 추가내용
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourViewModel.kt
  app/src/main/res/layout/activity_search.xml
Labels: search-page

#167 [FIX] 마이페이지 수정사항 적용
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteItem.kt
  app/src/main/res/layout/activity_log_in.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_profile_modify.xml
  app/src/main/res/values/strings.xml
Labels: my-page

#171 [FIX] 관광지 클릭 시 추가 데이터 거리 순으로 정렬 + 중복 처리
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/TourActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourNearAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourSearchAdapter.kt
Labels: attraction-page, tour-page

#172 [FEAT] 회원 탈퇴 로직 추가
  app/src/main/java/com/nbcamp/tripgo/data/repository/ReviewWritingRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/TourDetailRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/UserDeleteStatus.kt
Labels: my-page

#175 [FIX] GPS 상태 확인 로직 추가
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeFragment.kt
  app/src/main/res/values/strings.xml
Labels: home-page

#178 [FEAT] 검색 자동 완성 기능
  app/src/main/assets/city_name.json
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/res/drawable/icon_search_gray.xml
  app/src/main/res/layout/fragment_search_attractions.xml
  app/src/main/res/layout/fragment_search_festival.xml
  app/src/main/res/layout/fragment_search_tour.xml
  app/src/main/res/layout/simple_list.xml
Labels: search-page

#180 [FIX] 버그확인 수정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/nbcamp/tripgo/util/PreferenceUtils.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewFragment.kt
  app/src/main/res/layout/activity_tour_detail.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_review_mypage.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: home-page, my-page

#181 [FIX] 마이페이지 로딩 관련
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
Labels: my-page

#183 [FIX] 일정 추가 관련 버그
  app/src/main/java/com/nbcamp/tripgo/data/repository/TourDetailRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/mapper/DetailMapper.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/model/DetailCommonEntity.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarFragment.kt
Labels: tour-detail-page

#185 [FIX] 전체 화면 글씨 간격 수정
  app/src/main/res/layout/activity_tour_detail.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/layout/fragment_review_writing.xml
  app/src/main/res/values/strings.xml
Labels: review-page, tour-page

#187 [FIX] 스크롤 뷰 하위 리사이클러뷰 스크롤 제어
  app/src/main/res/layout/fragment_calendar.xml
Labels: calendar-page

#188 [FIX] 마이페이지 기능오류 수정
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/res/layout/dialog_app_inpo.xml
  app/src/main/res/layout/fragment_review_detail.xml
  app/src/main/res/values/strings.xml
Labels: my-page

#191 [FIX] 로그인 검증 절차 실행 및 기타 버그 수정
  app/src/main/java/com/nbcamp/tripgo/data/repository/ReviewDetailRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/res/values/strings.xml
Labels: home-page

#194 [FEAT] 검색 시 키보드 완료 버튼으로도 검색 기능 추가
  app/src/main/java/com/nbcamp/tripgo/view/search/Festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/adapters/ViewPagerAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/res/layout/activity_search.xml
  app/src/main/res/layout/fragment_search_attractions.xml
  app/src/main/res/layout/fragment_search_festival.xml
  app/src/main/res/layout/fragment_search_tour.xml
  app/src/main/res/layout/simple_list.xml
Labels: search-page

#195 [FIX] 로그인관련 버그 수정
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
Labels: login-page, my-page

#196 [FIX] 키보드 관련 누락부분
  app/src/main/java/com/nbcamp/tripgo/view/search/festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/festival/FestivalViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/festival/FestivalViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/res/layout/fragment_search_attractions.xml
  app/src/main/res/layout/fragment_search_festival.xml
  app/src/main/res/layout/fragment_search_tour.xml
Labels: search-page

#197 [FIX] 리뷰 필터링 수정
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/WholeReviewFragment.kt
  app/src/main/res/layout/item_review_main.xml
Labels: review-page

#200 [FIX] 리뷰의 유저 정보가 안 바뀌는 현상
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
Labels: my-page, review-page

#201 [FIX] 정보 안보이던 현상 수정
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
Labels: my-page

#204 [FIX] coding conventions
  app/src/main/java/com/nbcamp/tripgo/data/model/nearby/NearbyItem.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Body.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Header.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Items.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/Response.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/SegmentationItem.kt
  app/src/main/java/com/nbcamp/tripgo/data/model/travelerssegmentation/TravelersSegmentation.kt
  app/src/main/java/com/nbcamp/tripgo/data/repository/SearchRepositoryImpl.kt
  app/src/main/java/com/nbcamp/tripgo/util/PreferenceUtils.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/attraction/AttractionsAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/calendar/modify/TourModifyDetailActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/ProvincePlaceListAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageDialog.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/UserDeleteStatus.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/favorite/FavoriteFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/mypage/ReviewFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/whole/ReviewViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/reviewwriting/ReviewWritingViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/reviewwriting/gallery/GalleryActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/reviewwriting/gallery/GalleryViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/SearchViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/festival/FestivalFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/festival/FestivalViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourViewModelFactory.kt
  app/src/main/java/com/nbcamp/tripgo/view/signup/RulesFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/signup/SignUpActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/TourActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourNearAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/adapter/TourSearchAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/detail/TourDetailViewModelFactory.kt
  app/src/main/res/values/strings.xml
Labels: documentation

#208 [FIX] 피드백 받은 것 중 즉시 대응 가능 사항
  app/build.gradle
  app/src/main/java/com/nbcamp/tripgo/view/calendar/CalendarFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/reviewwriting/ReviewWritingFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/attaction/AttractionsFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/search/tour/TourFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/detail/TourDetailActivity.kt
  app/src/main/res/drawable/icon_end_marker.png
  app/src/main/res/drawable/icon_start_marker.png
  app/src/main/res/values/strings.xml
Labels: home-page, festival-page, calendar-page, review-page, review-writing-page, search-page, review-detail-page

#209 [FIX] 피드백 후 수정 내용
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/FestivalViewPagerAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/NearbyPlaceAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/adapter/ProvincePlaceListAdapter.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/ProfileModifyFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/review/detail/ReviewDetailFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/tour/detail/TourDetailActivity.kt
  app/src/main/res/drawable/icon_edit_profile.png
  app/src/main/res/drawable/icon_image_add.png
  app/src/main/res/drawable/icon_no_image.png
  app/src/main/res/drawable/icon_no_image.xml
  app/src/main/res/drawable/icon_user.png
  app/src/main/res/layout/fragment_profile_modify.xml
  app/src/main/res/layout/fragment_review.xml
  app/src/main/res/layout/fragment_review_writing.xml
Labels: home-page, my-page, review-page

#210 [FIX] 마이페이지 - 로그인 버그 수정
  app/src/main/java/com/nbcamp/tripgo/view/login/LogInActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/mypage/MyPageDialog.kt
  app/src/main/res/values/strings.xml
Labels: login-page, my-page

#213 [FIX] 홈 로딩 속도 개선
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/nbcamp/tripgo/data/repository/model/FestivalEntity.kt
  app/src/main/java/com/nbcamp/tripgo/view/SplashActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeFragment.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/HomeViewModel.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/uistate/HomeFestivalUiState.kt
  app/src/main/java/com/nbcamp/tripgo/view/home/uistate/HomeProvincePlaceUiState.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainActivity.kt
  app/src/main/java/com/nbcamp/tripgo/view/main/MainViewModel.kt
Labels: home-page
